{% extends 'Layout/layout.html'%} {% block content %}
{% load static %}

<section class="container">
    <div class="containerPage">

        <div class="homeTop">

            <div class="homeWelcome">
                <div class="welcome">
                    <h1>Welcome {{ request.user|title }}</h1> 
                    <p>Tienes {{ count }} tarea{{ count|pluralize }} sin completar</p>

                </div>
                <h1>Task List</h1>
            </div>


            <form method="get" action="{% url 'search' %}">
                <div class="containerAdd">
                    <label>Create task</label>
                    <button class="addTask mas-button" type="button">
                        <img class="icon-svg" src='{% static "img/add.svg" %}' alt="">
                    </button>
                </div>
                <div class="containerSearch">
                    <input class="inputSearch" type="text" name="query" placeholder="Search task..."/>
                    <button type="submit">Buscar</button>
                </div>

            </form>
        </div>

        <!------------------------UPDATE----------------------------------->
       
    {% if update %}

        <form class="homeModal" method="post" action="{% url 'update' %}">
            {% csrf_token %}
            <div class="modal">
                <h3>Update</h3>

                <div>
                    <label for="subject">Subject</label>
                    <input type="text" value="{{ update.subject }}" name="subject" id="subject"
                           aria-describedby="emailHelp"/>
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea type="text" name="description" id="description">{{ update.description }}</textarea>
                </div>
                <div class="modalChecks">
                    <div>
                        <label for="priority">priority</label>
                        <input type="checkbox" {% if update.priority %}checked{% endif %} name="priority" id="priority"/>

                    </div>
                    <div>
                        <label for="completed">completed</label>
                        <input type="checkbox" {% if update.completed %}checked{% endif %}  name="completed" id="completed"/>

                    </div>
                </div>

                <input type="hidden" name="id" value="{{ update.id }}"/>
                <button class="close mas-button" type="submit">
                    x
                </button>
                <button class="add" type="submit">Update</button>
            </div>
        </form>
        
    {% else %}

        <!------------------------CREATE----------------------------------->

        <form class="homeModal" id="w-75" style="display: none" method="post" action="{% url 'insert' %}">
            {% csrf_token %}
            <div class="modal">
                <h3>Add</h3>
                <div>
                    <label for="subject">Subject</label>
                    <input type="text" name="subject" id="subject" aria-describedby="emailHelp"/>
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea type="text" name="description" id="description"></textarea>
                </div>
                <div class="modalChecks">
                    <div>
                        <label for="priority">priority</label>
                        <input type="checkbox" name="priority" id="priority"/>

                    </div>
                    <div>
                        <label for="completed">completed</label>
                        <input type="checkbox" name="completed" id="completed"/>

                    </div>
                </div>


                <button class="close mas-button" type="button">
                    x
                </button>
                <button class="add" type="submit">Add</button>
            </div>
        </form>
        {% endif %}
   

        <section class="taskContainer">
            {% for data in db_data %}

            <article>
                <a href="{% url 'update_form' data.id %}" class="containerArticle">
                    <div class="iconArticle">
                        {% if data.priority %}
                        <img width="50px" height="50px" src='{% static "img/priority.svg" %}' alt="">
                        {% else %}
                        <img width="50px" height="50px" src='{% static "img/notpriority.svg" %}' alt="">
                        {% endif %}
                    </div>

                    <div class="titleDescriptionArticle">

                        <div class="titleState">
                            <div class="title">
                                <h5>{{ data.subject }}</h5>

                            </div>


                            <div class="state">
                                {% if data.completed %}
                                <p class="complete">complete</p>
                                {% else %}
                                <p class="incomplete">incomplete</p>
                                {% endif %}

                                

                            </div>


                        </div>
                        <div class="description">

                            <p>{{ data.description }}</p>
                        </div>

                    </div>


                </a>
                <div class="btnsArticle">
                    <a href="{% url 'delete' data.id %}"><img class="icon-svg" src='{% static "img/delete.svg" %}' alt=""></a>
                </div>
            </article>


            {% endfor %}
        </section>


        <!-----------------------CHATBOT------------------------------------------------------>

        <!--        <input class="btnChatBot" type="checkbox"  name="m1234" id="m1234">-->

        <button class="btnChatBot" type="button" name="m1234" id="m1234">
            <img class="icon-svg" src='{% static "img/ghost-out.svg" %}' alt="">
        </button>
        <!--        -->
        <!--        <button class="btnChatBot" type="button" id="m1234">-->
        <!--            <img class="icono" src='img/chat.svg'/>-->
        <!--        </button>-->

        <div class="containerChatbot" id="chaty" style="display: none">
            <div class="topChatbot">
                <div class="logoContainerChatbot">
                    <div>
                        <img class="icon-svg" src='{% static "img/ghost-in.svg" %}' alt="">
                    </div>
                </div>

                <div class="TitleChatbot">
                    <h4>Nina bot</h4>
                    <div class="stateChatbot">
                        <div class="green"></div>
                        <p>Online Now</p>
                    </div>
                </div>

            </div>

            <div class="chatbot">

                <ul class="messages-list">

                    {% for chat in chats %}
                    {% if chat.user == request.user %}
                    {% endif %}
                    {% endfor %}


                </ul>

            </div>


            <form class="chatbotInput message-form">
                {%csrf_token%}
                <input name="message" id='message' type="text" placeholder="Type your message..."
                       class="message-input"/>
            </form>
        </div>
    </div>
    </div>

    


</section>


<script>

    $(document).ready(function () {
        $('.mas-button').click(function () {

            if ($('#w-75').is(':hidden')) {
                $('#w-75').show();
            } else {
                $('#w-75').hide();
            }
        });

        
    });

    $(document).ready(function () {
        $('.btnChatBot').click(function () {

            if ($('#chaty').is(':hidden')) {
                $('#chaty').show();
            } else {
                $('#chaty').hide();
            }
        });

        
    });

    const messagesList = document.querySelector('.messages-list');
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input');

    console.log(messageForm)
    messageForm.addEventListener('submit', (event) => {

        event.preventDefault();

        const message = messageInput.value.trim();
        if (message.length === 0) {
            return;
        }

        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'sent', 'userMessage');
        messageItem.innerHTML = `
                        <p>
                            ${message}
                        </p>
`;
        messagesList.appendChild(messageItem);

        messageInput.value = '';

        fetch('/chatbot/', {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: new URLSearchParams({
                'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                'message': message
            })
        })
            .then(response => response.json())
            .then(data => {
                const response = data.response;
                const messageItem = document.createElement('li');
                messageItem.classList.add('message', 'received', 'robotMessage');
                messageItem.innerHTML = `
                        <div class="contentRobotMessage">
                            <div class="robotLogo"><img class="icon-svg" src='{% static "img/ghost-in.svg" %}' alt=""></div>

                            <section>
                                <h5>Nina bot</h5>


                                <p class="message-content messageSeparate">
                                    ${response}
                                </p>
                            </section>


                        </div>
                  `;
                messagesList.appendChild(messageItem);
            });
    });

</script>
{% endblock content %}