{% extends 'Layout/layout.html'%} {% block content %}

<section class="container">
    <div class="containerPage">
        <section class="headerBulletin">
            <h2>News</h2>
        </section>

        <section class="containerBulletin">
            {% for post in posts reversed %}
            {% with grid_class=forloop.counter|add:"-1" %}
            <a class="grid-area-{{ grid_class }}" href="post/{{post.id}}">
                <h2>{{post.title}}</h2>
                <span>{{post.created_at}}</span>
                <p>{{post.body|truncatewords:20}}</p>
            </a>

            {% endwith %}
            {% endfor %}

        </section>
    </div>

</section>

{% endblock content %}
