{% extends 'Layout/layoutLogin.html'%}

{% block content %}
<section class="sectionLogin">
    <h1>LOGIN</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="labelInput">
            <label>{{form.username.label}}:</label>
            {{form.username}}
        </div>
        <div class="labelInput">
            <label>{{form.password.label}}:</label>
            {{form.password}}
        </div>

        <input class="btn" class="button" type="submit" value="Iniciar"/>
    </form>
    <div class="formBack">
        <p>
            No tienes cuenta? <a href="{% url 'registro' %}">Registrate aqui</a>
        </p>
    </div>
</section>

{% endblock content %}