{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Scrumly</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</head>
<body>

<nav>

    <div class="containerbtns">

        <div class="containerLogo">
            <img class="icono" src='{% static "img/logo.svg" %}'/>

            <span>SCRUMLY</span>

        </div>


        <section>
            <a href="{% url 'index' %}" class="btnNav">
                <div class="containerNavIcon">
                    <img class="icon-svg" src='{% static "img/todolist.svg" %}'/>
                </div>
                
                <span>Task</span>
            </a>
            <a href="{% url 'chat' %}" class="btnNav">
                <div class="containerNavIcon">
                  <img class="icon-svg" src='{% static "img/chat.svg" %}'/>  
                </div>
                

                <span>Chat</span>
            </a>
            <a href="{% url 'bulletinboard' %}" class="btnNav">
                <div class="containerNavIcon">
                    <img class="icon-svg" src='{% static "img/news.svg" %}'/>
                </div>
                <span>News</span>
            </a>
            <a href="{% url 'logout' %}" class="btnNav btnLogout">
                <div class="containerNavIcon">
                     <img class="icon-svg" src='{% static "img/logout.svg" %}'/>
                </div>
               

                <span>Logout</span>
            </a>

        </section>

    </div>

</nav>

<main>


    {% block content %}
    {% endblock content %}

</main>
<script>
    $(document).ready(function () {
        var menuExpandido = false;

        $('.icono').click(function () {
            menuExpandido = !menuExpandido;

            $('nav').toggleClass('expandido', menuExpandido);

            if (menuExpandido) {
                $('nav').animate({width: '15vw'}, 'slow');
            } else {
                $('nav').animate({width: '5vw'}, 'slow');
            }
        });
    });
</script>
</body>
</html>
