{% extends 'LiveChat/chat.html'%} {% block content %}
{% load static %}
<section class="container">
    <div class="containerPageChat">
        <div class="containerRooms">




            <section class="listRooms">
               {% for room in rooms %}
                <a href="http://127.0.0.1:8000/chat/{{ room.name }}/?username={{ request.user }}"><p>{{room.name}}</p></a>
                {% if room.is_private and room.owner == request.user %}
                <a href="http://127.0.0.1:8000/chat/{{ room.name }}/?username={{ request.user }}"><p> <img class="icon-svg" src='{% static "img/lock.svg" %}' alt=""> {{room.name}}</p></a>
                {% endif %}
                {% endfor %}

            </section>


        </div>

        <section class="containerChat">

            <h2>Room: {{room}} </h2>

            <div id="display" class="chat" data-username="{{ request.user }}">


            </div>

            <form id="post-message" class="chatInputMessage">
                {% csrf_token %}
                <input type="hidden" name="username" id="username" value="{{username}}"/>
                <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
                <section>
                    <input class="inputMessage" type="text" name="message" id="message" width="100px"
                           placeholder="message"/>
                    <input class="sendMessage" type="submit" value="Send">
                </section>

            </form>
        </section>

    </div>

</section>


<script type="text/javascript">


    function formatarFecha(fechaString) {
        const fecha = new Date(fechaString);
        const dia = fecha.getDate().toString().padStart(2, '0');
        const mes = (fecha.getMonth() + 1).toString().padStart(2, '0');
        const año = fecha.getFullYear().toString().slice(2);

        return `${dia}/${mes}/${año}`;
    }

    $(document).ready(function () {
        $('.mas-button').click(function () {
            $('#post-form').slideToggle('slow');
        });

    });


    $(document).ready(function () {
        $('#is_private').change(function () {
            if ($(this).is(':checked')) {
                $('#room_code').slideDown('aside');
            } else {
                $('#room_code').slideUp('aside');
            }
        });
    });


    $(document).ready(function () {
        function getMessages() {
            $.ajax({
                type: 'GET',
                url: `/chat/getMessages/{{room}}/`,
                success: function (response) {
                    console.log(response);
                    updateMessages(response.messages);
                    setTimeout(getMessages, 1000);
                },
                error: function (xhr, status, error) {
                    console.error(`Error: ${status} - ${error}`);
                }
            });
        }


        function updateMessages(messages) {
            const $display = $("#display");
            $display.empty();
            let userName = $display.data("username")


            for (const key in messages) {
                const message = messages[key];
                const fechaFormateada = formatarFecha(`${message.date}`);

                let messageStyle = 'user';
                if (message.user === userName) {
                    messageStyle = 'currentUser';
                }
                const temp = `
<article class="${messageStyle}">
<div class="textChat">
<h4>${message.user}</h4>
<p>${message.value}</p>
</div>

<span class="time-left">${fechaFormateada}</span>
</article>`;
                $display.append(temp);
            }
        }

        // Inicia la actualización de mensajes
        getMessages();
    });


    $(document).on('submit', '#post-message', function (e) {
        e.preventDefault();


        $.ajax({
            type: 'POST',
            url: '/chat/send',
            data: {
                username: $('#username').val(),
                room_id: $('#room_id').val(),
                message: $('#message').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                //alert(data)
            }
        });
        document.getElementById('message').value = ''
    });


</script>

{% endblock content %}